version: "3.9"

services:
  postgres:
    image: docker.io/library/postgres:15.3
    container_name: postgres
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${secrets.PG_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - edge-net
      
  nats:
    image: docker.io/library/nats:latest
    ports:
      - "4222:4222" # Client port
      - "8222:8222" # Monitoring port (optional)
    # command: -js # Enable JetStream if desired
    # volumes:
    #   - ./nats-data:/data # Optional: for persistent JetStream data
    networks:
      - edge-net

  prometheus:
    image: docker.io/prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - edge-net

  # loki:
  #   image: grafana/loki:2.9.0
  #   ports:
  #     - "3100:3100"
  #   command: -config.file=/etc/loki/local-config.yaml
  #   volumes:
  #     - ./loki-config.yaml:/etc/loki/local-config.yaml
  #     - ./loki-data:/loki 
  #   networks:
  #     - edge-net
  #   logging:
  #     driver: json-file  

  # promtail:
  #   image: grafana/promtail:2.9.0
  #   volumes:
  #     # MOUNT PODMAN CONTAINER LOGS (rootless)
  #     - ~/.local/share/containers/storage/containers:/podman/containers:ro

  #     # Your config
  #     - ./promtail-config.yml:/etc/promtail/promtail-config.yml
  #   command: -config.file=/etc/promtail/promtail-config.yml
  #   networks:
  #     - edge-net
  #   logging:
  #     driver: json-file


  # grafana:
  #   image: grafana/grafana:10.2.3
  #   container_name: grafana
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - grafana-data:/var/lib/grafana
  #   environment:
  #     - GF_SECURITY_ADMIN_PASSWORD=admin
  #   depends_on:
  #     # - loki
  #     - prometheus
  #   networks:
  #     - edge-net

  co:
    build:
      dockerfile: ./dockerfile.co
    ports:
      - 9001:9001
    expose:
      - "9200"
    depends_on:
      - postgres
    environment:
      env:
      DATABASE_URL: postgres://${PG_USER}:${PG_PASSWORD}@${PG_HOST}:5432/${PG_DB}?sslmode=disable
    # postgres://postgres:postgres@postgres:5432/orchestration?sslmode=disable
      # DATABASE_URL: ${DATABASE_URL}
      GITHUB_TOKEN: ${{ secrets.GTHUB_TOKEN }}
      PORT: 9001
      SITE_ID: 
    networks:
      - edge-net
    # logging:
    #   driver: json-file

  lo_1:
    build:
      dockerfile: ./dockerfile.lo
    ports:
      - 9010:9010
    expose:
      - "9200"
    depends_on:
      - postgres
      - nats
    environment:
      # DATABASE_URL: postgres://${{ secrets.PG_USER }}:${{ secrets.PG_PASSWORD }}@${{ secrets.PG_HOST }}:5432/${{ secrets.PG_DB }}?sslmode=disable
      # DATABASE_URL: ${DATABASE_URL}
      NATS_URL: nats://nats:4222
      GITHUB_TOKEN: ${GTHUB_TOKEN}
      PORT: 9010
      REPO: 
      CO_URL: http://co:9001/api/v1
      SITE_ID: 379871e1-d4c4-4cef-8545-353e4535f08e
    volumes:
      - ./local-cache:/tmp/repo-cache
    networks:
      - edge-net
    # logging:
    #   driver: json-file

  lo_2:
    build:
      dockerfile: ./dockerfile.lo
    ports:
      - 9011:9011
    expose:
      - "9200"
    depends_on:
      - postgres
      - nats
    environment:
      # DATABASE_URL: postgres://${{ secrets.PG_USER }}:${{ secrets.PG_PASSWORD }}@${{ secrets.PG_HOST }}:5432/${{ secrets.PG_DB }}?sslmode=disable
      # DATABASE_URL: ${DATABASE_URL}
      NATS_URL: nats://nats:4222
      GITHUB_TOKEN: ${GTHUB_TOKEN} 
      PORT: 9011
      REPO: 
      CO_URL: http://co:9001/api/v1
      SITE_ID: 68370fbd-421e-4a6c-9d22-0fa7167d3de7
    volumes:
      - ./local-cache:/tmp/repo-cache
    networks:
      - edge-net

  en_1:
    build:
      dockerfile: ./dockerfile.en
    ports:
      - 9100:9100
    expose:
      - "9200" 
    depends_on:
      - nats
    environment:
      NATS_URL: nats://nats:4222
      GITHUB_TOKEN: ${GTHUB_TOKEN} 
      RUNTIME: containerd
      NODE_ID: node_id_1
      SITE_ID: 379871e1-d4c4-4cef-8545-353e4535f08e 
      PORT: 9100
    # volumes:
    #   - ./local-cache:/local-cache
    networks:
      - edge-net
    # logging:
    #   driver: json-file

  en_2:
    build:
      dockerfile: ./dockerfile.en
    ports:
      - 9101:9101
    expose:
      - "9200" 
    depends_on:
      - nats
    environment:
      NATS_URL: nats://nats:4222
      GITHUB_TOKEN: ${GTHUB_TOKEN} 
      RUNTIME: containerd
      NODE_ID: node_id_2
      SITE_ID: 68370fbd-421e-4a6c-9d22-0fa7167d3de7 
      PORT: 9100
    # volumes:
    #   - ./local-cache:/local-cache
    networks:
      - edge-net
    # logging:
    #   driver: json-file

networks:
  edge-net:
    driver: bridge
    # external: false

volumes:
  pgdata:
  grafana-data:
